/* 預設狀態 */
.bulbul {
  position: relative; 
  display: flex;
  align-items: center;
  gap: 12px;        
}

.logo-wrapper {
  position: absolute;
  top: 43%;
  right: -145px; 
  transform: translateY(-50%) scale(0.4);
  transform-origin: center center;
  flex-shrink: 0;
}

.logo {
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.5);
  overflow: hidden;
}
.bird {
  position: absolute;
  width: 110px;
  height: 88px;
  background: #444;
  border-radius: 50% 40% 50% 0% / 55% 50% 50% 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-3deg);
}

.face {
  position: absolute;
  top: 11px; 
  left: 50%;
  width: 109px;
  height: 55px;
  background: #fff;
  border-radius: 50% 45% 40% 25% / 75% 25% 40% 7%;
  transform: rotate(-3deg) translateX(-51%);
  padding-right: 8px;
  z-index: 1;
}

.eye {
  position: absolute;
  top: 31px;
  left: 64px;
  width: 17px;
  height: 17px;
  background: #444;
  border-radius: 50%;
  z-index: 2;
}

.beak {
  position: absolute;
  top: 25px;
  right: -13px;
  width: 21px;
  height: 11px;
  background: #444;
  border-top-right-radius: 100% 100%;
  transform: rotate(-6deg);
  z-index: 3;
}

/* Mobile header */
.logo-wrapper-mobile {
  width: 40px;
  height: 40px;
  top: -50%;
  right: 5%;
  position: relative;
  transform: scale(0.28);
  transform-origin: center center;
  pointer-events: none;
}

@media (max-width: 992px) {
  .bulbul {
    display: none;
  }
}